$mouse-device: '(hover: hover) and (pointer: fine)';

// Фоновые цвета
$bg-color-html-body: #e0e0e0;
$bg-color-white: rgb(255, 255, 255);
$bg-color-white-1: rgb(240, 240, 240);
$bg-color-white-2: rgba(255, 255, 255, 0.8);
$bg-color-white-3: rgba(255, 255, 255, 0.5);
$bg-color-white-4: rgba(255, 255, 255, 0.2);
$bg-color-white-5: rgba(255, 255, 255, 0.1);
$bg-color-black: rgb(0, 0, 0);
$bg-color-black-1: rgb(15, 15, 15);
$bg-color-black-2: rgba(0, 0, 0, 0.8);
$bg-color-black-3: rgba(0, 0, 0, 0.5);
$bg-color-black-4: rgba(0, 0, 0, 0.2);
$bg-color-black-5: rgba(0, 0, 0, 0.1);
$bg-color-gray: rgb(112, 112, 112);
$bg-color-gray-1: rgba(112, 112, 112, 0.8);
$bg-color-gray-2: rgba(112, 112, 112, 0.5);
$bg-color-gray-3: rgba(112, 112, 112, 0.2);
$bg-color-gray-4: rgba(112, 112, 112, 0.1);
$bg-color-primary: #4c6e91;
$bg-color-secondary: #bdb76b;
$bg-color-tertiary: #d2d7df;
$bg-color-quaternary: #0070f3;

// Цвета текста
$text-color-black: rgb(0, 0, 0);
$text-color-white: rgb(255, 255, 255);
$text-color-gray: rgb(112, 112, 112);
$text-color-primary: #333333;

// Цвета кнопок
$button-color-white: rgb(255, 255, 255);
$button-color-white-1: rgb(240, 240, 240);
$button-color-primary: #0070f3;
$button-color-primary-1: rgb(26, 97, 179);

// Цвета границ
$border-color-primary: #e2e2e2;
$border-color-primary-1: #d4d4d4;

// Цвета выделения
$focus-color-primary: #ff9900;
