@import '@/styles/main';

.item {
  padding: 0.5em;
  background-color: $bg-color-white;
  border-radius: 0.5em;

  transition: all 0.3s linear;

  scroll-snap-align: center;

  &:hover {
    @media #{$mouse-device} {
      @include border-shadow-1;
    }
  }
}
